@import "../../Partial/mixin";
@import "../../Partial/variable";

html {
  font-size: 62.5%;
}

.homediv {
  @include size(null, 630px, relative, 162px, null);
  display: flex;
  flex-wrap: nowrap;
}
.leftdisplay {
  @include size(41%, 100%, null, null, null);
  display: flex;
  text-align: center;
}
.place {
  @include size(null, 24px, absolute, 45px, null);
  @include font(2rem);
  color: #ffffff;
  text-align: center;
}
.fav {
  position: absolute;
  top: 70px;
}
.addfav {
  @include size(94px, 15px, null, null, null);
  @include font(1.3rem);
}
.centerdisplay {
  @include size(200px, 259px, null, null, null);
  height: 250px;
  width: 200px;
  display: flex;
  margin: auto 0;
  text-align: center;
}
.line {
  @include size(100%, 1px, absolute, null, null);
  border: $border-values;
  opacity: 0.3;
}
.weatherFactors {
  @include size(100%, 100px, absolute, 520px, null);
  display: flex;
  justify-content: center;
}

.CenterDiv {
  @include flex(column);
}
.up {
  @include size(80px, 84px, null, null, null);
  display: flex;
}
.middle {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  //  background-color: pink;
}
.temp {
  @include size(73px, 75px, null, null, null);
  @include font(6.4rem);
  line-height: 75px;
  display: flex;
}
.tempBox {
  @include size(55px, 30px, null, null, null);
  height: 30px;
  width: 55px;
  display: flex;
}
.valueC {
  @include size(28px, 30px, null, null, null);
  border: $border-values;
  border-radius: 2px 0 0 2px;
}
.valueF {
  @include size(28px, 30px, null, null, null);
  border: $border-values;
  border-radius: 2px;
}
.font {
  @include size(11px, 19px, null, null, null);
  @include font(1.6rem);
}
.down {
  @include size(100%, 25px, null, null, null);
  @include font(2.2rem);
  text-align: center;
  display: flex;
}
