html {
  font-size: 62.5%;
}

.homediv {
  height: 630px;
  position: relative;
  top: 162px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.leftdisplay {
  width: 41%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.place {
  height: 24px;
  position: absolute;
  top: 45px;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
  color: #ffffff;
  color: #ffffff;
  text-align: center;
}

.fav {
  position: absolute;
  top: 70px;
}

.addfav {
  width: 94px;
  height: 15px;
  font-family: sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
  color: #ffffff;
}

.centerdisplay {
  width: 200px;
  height: 259px;
  height: 250px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
  text-align: center;
}

.line {
  width: 100%;
  height: 1px;
  position: absolute;
  border: 1px solid #ffffff;
  opacity: 0.3;
}

.weatherFactors {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.CenterDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.up {
  width: 80px;
  height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle {
  height: 75px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.temp {
  width: 73px;
  height: 75px;
  font-family: sans-serif;
  font-size: 6.4rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
  color: #ffffff;
  line-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tempBox {
  width: 55px;
  height: 30px;
  height: 30px;
  width: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.valueC {
  width: 28px;
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 2px 0 0 2px;
}

.valueF {
  width: 28px;
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 2px;
}

.font {
  width: 11px;
  height: 19px;
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
  color: #ffffff;
}

.down {
  width: 100%;
  height: 25px;
  font-family: sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
  color: #ffffff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=Home.css.map */