@import "../../Partial/mixin";
@import "../../Partial//variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  //1rem = 10px
  font-size: 62.5%;
}

.main-headder {
  @include size(80%, null, relative, null, null);
}

.imagelogo {
  @include size(null, null, absolute, 30px, 10px);
}

.textbox {
  @include size(458px, 45px, absolute, 30px, null);
  display: flex;
  flex-direction: row;
  right: 20px;
  // background-color:white;
}

.imagesearchIcon {
  @include size(25px, 25px, relative, null, -30px);
  margin: auto;
}

.line {
  @include size(100%, 1px, absolute, null, null);
  border: $border-values;
  opacity: 0.3;
}

.DatePosition {
  @include size(null, null, absolute, 140px, null);
  right: 20px;
}

.Navul {
  @include size(null, 15px, absolute, 140px, 16px);
  display: flex;
  list-style-type: none;
  text-align: center;
  align-items: center;
}

.Navli {
  list-style: none;
}

.Box {
  @include size(445px, 45px, null, null, null);
  border: 1px solid hsl(180, 2%, 84%);
  padding-left: 10px;
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  ::placeholder,
  ::-webkit-input-placeholder {
    color: #ffffff;
    font-family: sans-serif;
  }
  :-ms-input-placeholder {
    color: #ffffff;
  }
}

//React router NavLink
.NavLinks {
  @include font(1.3rem);
  text-decoration: none;
  align-items: center;
  z-index: 1;
  position: relative;
  padding: 4px;
  &:hover:after {
    @include size(100%, 2.5px, absolute, null, 0);
    content: "";
    bottom: 1px;
    left: 0;
    background-color: #ffd639;
    border-radius: 2px;
  }
}

//Home *************************
