* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.main-headder {
  width: 80%;
  height: "";
  position: "";
  top: "";
  left: "";
  position: relative;
}

.imagelogo {
  position: absolute;
  left: 10px;
  top: 30px;
}

.textbox {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 45px;
  width: 458px;
  right: 20px;
  top: 30px;
}

.imagesearchIcon {
  height: 25px;
  width: 25px;
  margin: auto;
  position: relative;
  left: -30px;
}

.line {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 1px;
  width: 100%;
  border: 1px solid #ffffff;
  opacity: 0.3;
}

.DatePosition {
  position: absolute;
  top: 140px;
  right: 20px;
}

.Navul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  list-style-type: none;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 140px;
  left: 16px;
}

.Navli {
  list-style: none;
}

.Box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 45px;
  width: 445px;
  border: 1px solid #d5d7d7;
  padding-left: 10px;
  border-radius: 3px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  color: #f8b87c;
  background-color: rgba(255, 255, 255, 0.3);
}

.Box ::-webkit-input-placeholder,
.Box ::-webkit-input-placeholder {
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
}

.Box ::placeholder,
.Box ::-webkit-input-placeholder {
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
}

.Box :-ms-input-placeholder {
  color: red;
}

.NavLinks {
  color: #ffffff;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15px;
  text-decoration: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
  position: relative;
  padding: 4px;
}

.NavLinks:hover:after {
  content: "";
  height: 2px;
  width: 100%;
  bottom: -4px;
  left: 0;
  position: absolute;
  background-color: #ffd639;
  border-radius: 2px;
}
