@import "../../Partial/mixin";
@import "../../Partial/variable";

html {
  //1rem = 10px
  font-size: 62.5%;
}

.RecDiv {
  @include size(null, 410px, relative, 162px, null);
  display: flex;
  flex-direction: column;
}
.Recheadding {
  @include size(100%, 70px, null, null, null);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Reccity {
  @include size(null, 15px, null, null, null);
  @include font(1.3rem);
  padding: 4px;
}
.RecBox {
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.Recplacename {
  @include size(26%, 19px, null, null, null);
  @include font(1.6rem);
  display: flex;
}
.Recwicon {
  @include size(36px, 38px, null, null, null);

  display: flex;
}
.Rectemp {
  @include size(70px, 38px, null, null, null);
  display: flex;
  align-items: center;
}
.Recval {
  @include size(37px, null, null, null, null);
  @include font(3.2rem);
  display: flex;
}
.Recunit {
  @include font(1.7rem);
  display: flex;
}
.Recnothing {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
